* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
    font-family: "Fraunces", serif;
}

h3 {
    margin-bottom: 1em;
}


header {
    background-color: blue;
    color: white;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 60px;
}

.hero {
    height: calc( 100vh - 60px);
    background-color: blue;
    width: 100%;
}

h1 {
    margin-bottom: 1.7em;
}

.nav-lists {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.nav-lists li {
    list-style: none;
}

.nav-lists li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1.5em;
}

section {
    padding: 1.5em 0;
}

h2 {
    margin-bottom: 1.5em;
}

.blogs img, .featured img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog_template_conatainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_card_template {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em
}

.blog_card, .featured_card {
    background-color: #f4f4f4;
    min-width: 200px;
}

.blog_card_body, .hero_card_body, .featured_card_body {
    padding: 1.5em;
}

.featured-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

footer {
    padding: 1.5em;
    text-align: center;
    bottom: 0;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
    }

    h1 {
        margin-bottom: 0;
    }
}